.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--surface-border);
}

.footer-inner {
  max-width: min(100vw, 1200px);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
