.text-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border: 1px solid var(--surface-border);
  border-radius: 14px;

  span {
    display: block;

    font-size: var(--font-size-xl);
    line-height: var(--font-size-xl);

    font-weight: 600;

    color: var(--surface-border);
  }
}

.text-icon-medium {
  --size: calc(1.5 * var(--font-size-xl));

  width: var(--size);
  height: var(--size);

  border-radius: calc(var(--size) / 3);

  span {
    font-size: calc(var(--size) / 2.4)
  }
}




.text-icon-blue {
  border-color: color-mix(in srgb, var(--color-primary) 65%, transparent);

  background:
    radial-gradient(
      circle at 50% 50%,
      color-mix(in srgb, var(--color-primary) 14%, transparent),
      color-mix(in srgb, var(--color-primary) 5%, transparent) 25%,
      transparent 70%
    );


  box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.35),
    0 0 40px color-mix(in srgb, var(--color-primary) 20%, transparent),
    inset 0 0 50px color-mix(in srgb, var(--color-primary) 15%, transparent);

  span {
    color: var(--color-primary);
    filter: drop-shadow(0 0 1px rgba(0, 240, 255, 0.35));

    /* margin left because it moves the text left for some reason */
    letter-spacing: 2px;
    margin-left: 2px;
  }
}
